// COMPOSANTS

// Élément de liste
.list-item {
    padding: 1.5em 1em;
    text-align: left;
    border-radius: 1em;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

// Bouton
.btn {
    padding: 1em 1.5em;
    color: $txt-light-background;
    transition: 250ms;

    &--gradient {
        background-image:
            radial-gradient(100% 50% at 20% 10%,
                $pink-secondary 0%,
                $purple-primary 200%);
    }

    &--radius {
        border-radius: 2em;
    }

    &--shadow {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    &:hover {
        opacity: 0.8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
}

.btn__like,
button {
    & .heart-away {
        display: block;
        transform: scale(1);
        transition: all 0.5s;
    }

    & .heart-hover {
        display: block;
        position: absolute;
        top: 0;
        transform: scale(0);
        transition: all 0.5s;
        background-color: black;
        background-image: linear-gradient(0deg, $pink-secondary, $purple-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
}

.btn__like:hover,
button:hover {
    & .heart-away {
        opacity: 0;
        transform: scale(0);
    }

    & .heart-hover {
        opacity: 1;
        transform: scale(1);
    }
}

//  Loading animation
.loader-holder {
    display: flex;
    position: fixed;
    z-index: 1; // Afficher avant la page d'accueil
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $light-gray;
    animation: 1s fadeOut 5500ms ease forwards; // Animation de transition
}


// Disparition du loading 
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

// Paramètres des lettres et des points animés
.dot {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    margin: 0 5px;
    position: relative;
    animation: dot-animation 1s infinite ease-in-out;
}

// Délai d'animation des lettres et des points
.dot:nth-child(1) {
    animation-delay: 0.010s;
}

.dot:nth-child(2) {
    animation-delay: calc(0.020s * 2);
}

.dot:nth-child(3) {
    animation-delay: calc(0.030s * 3);
}

.dot:nth-child(4) {
    animation-delay: calc(0.040s * 4);
}

.dot:nth-child(5) {
    animation-delay: calc(0.050s * 5);
}

.dot:nth-child(6) {
    animation-delay: calc(0.060s * 6);
}

.dot:nth-child(7) {
    animation-delay: calc(0.070s * 7);
}

.dot:nth-child(8) {
    animation-delay: calc(0.080s * 8);
}

.dot:nth-child(9) {
    animation-delay: calc(0.090s * 8);
}

.dot:nth-child(10) {
    animation-delay: calc(0.100s * 8);
}

.dot:nth-child(11) {
    animation-delay: calc(0.110s * 8);
}

// Couleurs de chaque lettre et point
.one {
    color: $purple-primary;
    text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.two {
    color: $purple-primary;
    text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.three {
    color: $pink-secondary;
    text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.four {
    color: $pink-secondary;
    text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.five {
    color: $aqua-tertiary;
    text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.six {
    color: $aqua-tertiary;
    text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.seven {
    color: $aqua-tertiary;
    text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.eight {
    color: $aqua-tertiary;
    text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.nine {
    color: $purple-primary;
    text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.ten {
    color: $pink-secondary;
    text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.eleven {
    color: $aqua-tertiary;
    text-shadow: 0 3px 10px rgb(100, 100, 100);
}

// Animation des lettres et des points
@keyframes dot-animation {
    0% {
        margin-top: 0;
    }

    30% {
        margin-top: 0;
    }

    50% {
        margin-top: -50px;
    }

    80% {
        margin-top: 0;
    }

    100% {
        margin-top: 0;
    }
}