// COLOR 
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$shadow: #cfcfcf;
$bg: #f6f6f6;
$both-color-gradient : linear-gradient(to bottom right, $primary-color, $secondary-color);
$price-over-color: #99e2d0;

// TEXT COLOR
$light-txt: #fff;
$dark-txt: #000;

// POLICE
$logo-font: 'Shrikhand', sans-serif;
$title-font: $logo-font;
$text-font: 'Roboto', sans-serif;

// ICONES