// Primary Colors
$purple-primary: #9356DC;

// Secondary colors
$pink-secondary: #FF79DA;

// Tertiary Colors
$aqua-tertiary: #99E2D0;

// Dark Colors
$dark-gray: #353535;

// Light Colors
$light-gray: #e2e2e2;

// Texts 
$txt-dark-background: #000000;
$txt-light-background: #ffffff;
$txt-green-background: #008766;
$txt-gray: #9f9f9f;