//Couleurs principales (Primary Colors)
$violet-primaire: #9356DC; 
$rose-secondaire: #FF79DA;
$aqua-tertiaire: #99E2D0;
 
//Couleur secondaires (Secondary Colors)
$vert-clair: #99e2d0;
$gris-sombre: #353535;
$gris-clair: #e2e2e2;

//Textes 
$txt-fond-clair: #000000;
$txt-fond-sombre: #ffffff;
$txt-fond-vert: #008766;
$txt-gris : #9f9f9f;

//Soulignement titre (Title underline)
$border-length-var: 3rem;


