// SASS FILES
@import'variable';
@import'mixins';
@import'placeholders';
@import'components';

// HEADER
@import'layout/header';

// FOOTER
@import'layout/footer';

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/* Start Main */
main {
    font-family: 'Roboto', sans-serif;

    /* Start section  location */
    & .location {
        @extend %grid-center;
        @include grid-template-set (1);
        padding: 1em;
        background: #eaeaea;
        background: linear-gradient(180deg,
                rgba(173, 173, 173, .35) 0%,
                rgba(234, 234, 234, .75) 15%,
                rgba(234, 234, 234, 1) 100%);

        & i {
            padding: 0 0.5em 0 0;
        }
    }

    & .presentation {
        @extend %grid-center;
        @include grid-template-set (1);
        padding: 2em 0 3em;
        background: #f6f6f6;
        text-align: center;

        & h2 {
            padding: 0 5em;
        }

        & p {
            padding: 1em 5em 2em;
        }
    }

    & .working {
        @extend %grid-center;
        @include grid-template-set (1);
        padding: 3em 1em;

        & h2 {
            @include grid-pos-set (1, auto, 1, 2);
            justify-self: start;
        }

        & ol {
            @include grid-pos-set (2, auto, 1, 4);
            display: grid;
            @include grid-template-set (3);
            grid-gap: 2em;
            margin: 1em 1em 0;
            justify-self: normal;
            counter-reset: section;

            @media (max-width: 960px) {
                @include grid-template-set (1);
            }

            @media (max-width: 680px) {
                @include grid-template-set (1);
            }
        }

        & li::before {
            counter-increment: section;
            content: counter(section);
            position: relative;
            left: -1.9em;
            padding: 0.3em 0.6em;
            border-radius: 70%;
            background-color: $purple-primary;
            color: $txt-dark-background;

            & i {
                color: $txt-gray;
            }
        }

        & li:hover {
            background-color: lighten($purple-primary, 35%);

            & i {
                color: $purple-primary;
            }
        }

        & p {
            display: inline-block;
            position: relative;
            left: -0.7em;
        }

        & i {
            padding: 0 1em 0 0;
            color: $txt-gray;
        }
    }


    /* Start section  theRestaurants */
    & .theRestaurants {
        @extend %grid-center;
        @include grid-template-set (1);
        padding: 3em 1em;
        background: #f6f6f6;

        & h2 {
            @include grid-pos-set (1, auto, 1, 2);
            justify-self: start;
        }

        & ul {
            @include grid-pos-set (2, auto, 1, 5);
            display: grid;
            @include grid-template-set (4);
            grid-gap: 2em;
            justify-self: normal;
            margin: 1em 0;

            @media (max-width: 960px) {
                @include grid-template-set (2);
            }

            @media (max-width: 680px) {
                @include grid-template-set (1);
            }

            & li {
                display: inline-block;
                width: 100%;

                & a {
                    display: block;
                    position: relative;
                    padding: 0 0 0.7rem 0;
                    color: $txt-dark-background;
                    border-radius: 1.5em;
                    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

                    & .sticker {
                        position: absolute;
                        right: 1em;
                        top: 1em;
                        padding: 0.4em 0.6em;
                        color: $txt-green-background;
                        background: $aqua-tertiary;
                        border-radius: 0.2em;
                    }

                    & img {
                        padding: 0 0 0.5rem 0;
                        width: 100%;
                        height: 12.5em;
                        object-fit: cover;
                        border-radius: 1.5em 1.5em 0 0;
                    }

                    & h3,
                    p {
                        padding: 0 1rem 0.5rem;
                    }

                    & .btn__like {
                        position: absolute;
                        bottom: 2.5rem;
                        right: 1.5rem;
                        font-size: 1.5em;
                        cursor: pointer;
                    }
                }
            }

        }
    }

    /* Start section  restaurantMenu */
    & .restaurantMenu {
        @extend %grid-center;
        @include grid-template-set (1);
        padding: 0 0 3em;
        justify-items: normal;
        background: #f6f6f6;

        &__cover {
            margin: 0 0 -5em 0;
            width: 100%;
            height: 20em;
            object-fit: cover;
        }

        &__menu {
            margin: 1em 0;
            padding: 1em;
            background: #f6f6f6;
            border-radius: 1.5em;

            & h2 {
                font-family: 'Shrikhand', cursive;
                position: relative;

                & button {
                    position: absolute;
                    bottom: .3rem;
                    right: 1rem;
                    font-size: .9em;
                    cursor: pointer;
                }
            }

            & h3 {
                margin: 2em 0 0 .3em;
                padding-bottom: .3em;
                border-bottom: 5px solid $aqua-tertiary;
                width: 2.5rem;
                font-weight: normal;
                text-transform: uppercase;

            }

            & ul {
                @include grid-pos-set (3, auto, 1, 4);
                display: grid;
                @include grid-template-set (3);
                grid-gap: 1.5em;
                margin: 1em 0 2.5em;
                justify-self: normal;

                @media (max-width: 960px) {
                    @include grid-template-set (3);
                }

                @media (max-width: 680px) {
                    @include grid-template-set (1);
                }

                & li {
                    position: relative;
                    padding: 1em;
                    cursor: pointer;
                    overflow: hidden;
                    font-size: 1.05em;

                    & h4 {
                        padding-bottom: .5rem;
                    }

                    & p {
                        font-size: 1em;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 70%;
                        overflow: hidden;
                        transition: all 0.5s;
                    }

                    & strong {
                        position: absolute;
                        bottom: 1rem;
                        right: 2rem;
                        transition: all 0.5s;
                        font-weight: 600;
                    }

                    & span {
                        position: absolute;
                        right: -5rem;
                        top: 0rem;
                        width: 5rem;
                        height: 100%;
                        font-size: 1.5em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $txt-light-background;
                        background: $aqua-tertiary;
                        transition: all 0.5s;

                        & .fa-check-circle {
                            transform: rotate(-240deg);
                            transition: all 0.5s;
                        }
                    }
                }

                & .list-item {
                    animation: appear 1000ms forwards;
                    opacity: 0;

                    @for $i from 1 to 10 {
                        &--#{$i} {
                            animation-delay: 100ms * $i;
                        }

                    }
                }

                @keyframes appear {
                    0% {
                        transform: translateY(2em);
                    }

                    100% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                & li:hover {
                    & p {
                        width: 57%;
                    }

                    & strong {
                        right: 6.5rem;
                    }

                    & span {
                        right: 0;

                        & .fa-check-circle {
                            transform: rotate(0deg);
                        }
                    }
                }

            }
        }

        .btn {
            text-align: center;
            margin: 0 auto;
            padding: 1rem 5rem;
            margin-bottom: 3rem;
        }
    }
}