@charset "UTF-8";
/*
Mise en page du Modèle de grille 
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
header, footer, main .localisation, main .presentation, main .commentCaMarche, main .lesRestaurants, main .menuDuResto {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.list-item {
  padding: 1.5em 1em;
  text-align: left;
  border-radius: 1em;
  -webkit-box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.btn {
  padding: 1em 1.5em;
  color: #ffffff;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.btn--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
}

.btn--radius {
  border-radius: 2em;
}

.btn--shadow {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn__like .heart-away,
button .heart-away {
  display: block;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn__like .heart-hover,
button .heart-hover {
  display: block;
  position: absolute;
  top: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: black;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn__like:hover .heart-away,
button:hover .heart-away {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.btn__like:hover .heart-hover,
button:hover .heart-hover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* Début Header */
header {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 1em;
}

h1 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  font-family: 'Shrikhand', cursive;
}

.btn__retourHome {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  -ms-grid-column-align: start;
      justify-self: start;
}

/* Début Footer */
footer {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 1em;
  color: #ffffff;
  background: #353535;
  font-family: 'Roboto', sans-serif;
}

footer h2 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  margin: 0 0 1.5rem 0;
  font-family: 'Shrikhand', cursive;
  font-size: 1.4em;
  font-weight: normal;
  -ms-grid-column-align: start;
      justify-self: start;
}

@media (min-width: 521px) {
  footer h2 {
    margin: 0 auto;
    padding-bottom: 1rem;
  }
}

footer ul {
  grid-row: 2 / auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -ms-grid-column-align: start;
      justify-self: start;
}

@media (min-width: 981px) and (max-width: 1880px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10rem;
    margin: 0 auto;
  }
}

@media (min-width: 621px) and (max-width: 980px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    margin: 0 auto;
  }
}

@media (min-width: 521px) and (max-width: 620px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 0;
    margin: 0 2rem 0 2rem;
  }
}

@media (max-width: 520px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    gap: 0;
  }
}

footer ul li {
  margin: 0 0 0.5rem 0;
}

footer a {
  color: #ffffff;
}

footer a .fa-utensils {
  padding: 0 1rem 0 0;
}

footer a .fa-hands-helping {
  padding: 0 0.55rem 0 0;
}

/* Fin Footer */
/* Début Main */
main {
  font-family: 'Roboto', sans-serif;
  /* Debut section localisation */
  /* Debut section lesRestaurants */
  /* Début section menuDuResto */
}

main .localisation {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 1em;
  background: #eaeaea;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(173, 173, 173, 0.35)), color-stop(15%, rgba(234, 234, 234, 0.75)), to(#eaeaea));
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, #eaeaea 100%);
}

main .localisation i {
  padding: 0 0.5em 0 0;
}

main .presentation {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 2em 0 3em;
  background: #f6f6f6;
  text-align: center;
}

main .presentation h2 {
  padding: 0 5em;
}

main .presentation p {
  padding: 1em 5em 2em;
}

main .commentCaMarche {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
}

main .commentCaMarche h2 {
  grid-row: 1 / auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-column-align: start;
      justify-self: start;
}

main .commentCaMarche ol {
  grid-row: 2 / auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin: 1em 1em 0;
  -ms-grid-column-align: normal;
      justify-self: normal;
  counter-reset: section;
}

@media (max-width: 1024px) {
  main .commentCaMarche ol {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 520px) {
  main .commentCaMarche ol {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

main .commentCaMarche li::before {
  counter-increment: section;
  content: counter(section);
  position: relative;
  left: -1.9em;
  padding: 0.3em 0.6em;
  border-radius: 70%;
  background-color: #9356DC;
  color: #ffffff;
}

main .commentCaMarche li::before i {
  color: #9f9f9f;
}

main .commentCaMarche li:hover {
  background-color: #f2eafb;
}

main .commentCaMarche li:hover i {
  color: #9356DC;
}

main .commentCaMarche p {
  display: inline-block;
  position: relative;
  left: -0.7em;
}

main .commentCaMarche i {
  padding: 0 1em 0 0;
}

main .lesRestaurants {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
  background: #f6f6f6;
}

main .lesRestaurants h2 {
  grid-row: 1 / auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-column-align: start;
      justify-self: start;
}

main .lesRestaurants ul {
  grid-row: 2 / auto;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  -ms-grid-column-align: normal;
      justify-self: normal;
  margin: 1em 0;
}

@media (max-width: 1024px) {
  main .lesRestaurants ul {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  main .lesRestaurants ul {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

main .lesRestaurants ul li {
  display: inline-block;
  width: 100%;
}

main .lesRestaurants ul li a {
  display: block;
  position: relative;
  padding: 0 0 0.7rem 0;
  color: #000000;
  border-radius: 1.5em;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

main .lesRestaurants ul li a .sticker {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 0.4em 0.6em;
  color: #008766;
  background: #99e2d0;
  border-radius: 0.2em;
}

main .lesRestaurants ul li a img {
  padding: 0 0 0.5rem 0;
  width: 100%;
  height: 12.5em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5em 1.5em 0 0;
}

main .lesRestaurants ul li a h3,
main .lesRestaurants ul li a p {
  padding: 0 1rem 0.5rem;
}

main .lesRestaurants ul li a .btn__like {
  position: absolute;
  bottom: 2.5rem;
  right: 1.5rem;
  font-size: 1.5em;
  cursor: pointer;
}

main .menuDuResto {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  padding: 0 0 3em;
  justify-items: normal;
  background: #f6f6f6;
}

main .menuDuResto__cover {
  margin: 0 0 -5em 0;
  width: 100%;
  height: 20em;
  -o-object-fit: cover;
     object-fit: cover;
}

main .menuDuResto__carte {
  margin: 1em 0;
  padding: 1em;
  background: #f6f6f6;
  border-radius: 1.5em;
}

main .menuDuResto__carte h2 {
  font-family: 'Shrikhand', cursive;
  position: relative;
}

main .menuDuResto__carte h2 button {
  position: absolute;
  bottom: .3rem;
  right: 1rem;
  font-size: .9em;
  cursor: pointer;
}

main .menuDuResto__carte h3 {
  margin: 2em 0 0 .3em;
  padding-bottom: .3em;
  border-bottom: 5px solid #99e2d0;
  width: 11%;
  font-weight: normal;
  text-transform: uppercase;
}

main .menuDuResto__carte ul {
  margin: 1em 0;
}

main .menuDuResto__carte ul li {
  margin: 1em 0;
  position: relative;
}

main .menuDuResto__carte ul li h4 {
  padding-bottom: .5rem;
}

main .menuDuResto__carte ul li strong {
  position: absolute;
  top: 3.1rem;
  right: 1.5rem;
  cursor: pointer;
}

main .menuDuResto__carte ul li span {
  position: absolute;
  right: 1.5rem;
  top: 3.1rem;
  display: none;
}

main .menuDuResto .btn {
  text-align: center;
  margin: 0 auto;
  padding: 1rem 5rem;
  margin-bottom: 3rem;
}
/*# sourceMappingURL=main.css.map */