.book-menu {
    padding: 40px 45px 0px 45px;
    text-align: center;
    background: #f6f6f6;
    font-family: $text-font;

    &__title {
        padding-bottom: 20px ;
    }
    &__p {
        padding-bottom: 30px;
        font-weight: 100;
        color: #656565;
    }
}



