.concept {
    padding: 40px 20px;
    font-family: $text-font;
    // border: 1px solid grey; // à retirer !!

    &__title {
        margin-bottom: 20px;
    }
    
    &__choises {
        @include label;
    }
}

.concept__choises {
    font-family: $text-font;

    span, i {
        margin-right: 20px;
    }

    i {
        color: grey;
    }
}

.concept__step {
    background: $primary-color;
    color: $light-txt;
    text-align: center;
    border-radius: 30px;
    padding: 5px 10px;
    margin: -65px;
}

