.location {
    padding: 20px;
    background: #eaeaea;
    text-align: center;
    box-shadow: inset 0 2px 5px $shadow;

    span {
        font-family: $text-font;
        text-decoration: none;
    }
}