// Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px
@media screen and (min-width: 1440px)
{

}

// Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px
@media all and (min-width: 768px) and (max-width: 1440px)
{
    .book-menu__p {
            margin-top: 10px;
    }
    .book-menu__btn {
        margin: 5px 0 50px 0;
    }

    .concept__title {
        text-align: center;
        margin-bottom: 40px;
    }

    .concept__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 30px;
    }

    // .concept__list {
    //     display: flex;
    // }
    
    // .concept__choises {
    //     padding: 25px;
    //     margin: 30px 20px 10px 40px;
    // }

    .restaurant__title {
        text-align: center;
        margin-bottom: 30px;
    }

    .restaurant_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        height: 280px;
    }

    .restaurant__status {
        left: 60%;
        top: 4%;
    }

    .restaurant .fa-heart {
        top: 65%;
    }

    .footer {
        margin: 0;
        padding: 30px;

        &__title {
            text-align: center;
            margin-bottom: 10px;
        }

        &__nav ul {
            display: flex;
            justify-content: space-evenly;
            gap: 50px;
        }
    }



}

// Sur tous types d'écrans orientés verticalement
@media all and (max-width: 375px)
{

}