.menu {
    font-family: $text-font;
    background: #f6f6f6;
    padding-bottom: 50px;
}

.menu__img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: -40px;
}

.menu__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f6f6f6;
    border-radius: 40px 40px 0 0;
    position: relative;
    margin-bottom: 30px;
    padding-top: 30px;
}
    
.menu__title {
    font-family: $title-font;
    font-size: x-large;
    font-weight: normal;
}

.menu__description {
    margin: 15px;
}

.menu__description h3 {
    text-transform: uppercase;
    font-weight: normal;
    width: 45px;
    padding-bottom: 5px;
    margin: 20px 0 15px 0;
    border-bottom: 3px solid #99e2d0;
}

.menu__label {
    border-radius: 15px;
    padding: 15px;
    margin: 10px 0;
    @include shadow;
}

.menu__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
    padding-top: 5px;
    }

    span {
        font-weight: bold;
        padding-left: 125px;
        // & :hover {
        //     padding: 50px;
        // }
    }
}

// Go to components.scss to get the .menu__btn




