@charset "UTF-8";
/*
Mise en page du Modèle de grille 
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
main .restaurantMenu, main .theRestaurants, main .working, main .presentation, main .location, footer, header {
  display: grid;
  align-items: center;
  justify-items: center;
}

.list-item {
  padding: 1.5em 1em;
  text-align: left;
  border-radius: 1em;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

.btn {
  padding: 1em 1.5em;
  color: #000000;
  transition: 250ms;
}
.btn--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #FF79DA 0%, #9356DC 200%);
}
.btn--radius {
  border-radius: 2em;
}
.btn--shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn__like .heart-away,
button .heart-away {
  display: block;
  transform: scale(1);
  transition: all 0.5s;
}
.btn__like .heart-hover,
button .heart-hover {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.5s;
  background-color: black;
  background-image: linear-gradient(0deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn__like:hover .heart-away,
button:hover .heart-away {
  opacity: 0;
  transform: scale(0);
}
.btn__like:hover .heart-hover,
button:hover .heart-hover {
  opacity: 1;
  transform: scale(1);
}

.loader-holder {
  display: flex;
  position: fixed;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  animation: 1s fadeOut 5500ms ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.dot {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  margin: 0 5px;
  position: relative;
  animation: dot-animation 1s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0.01s;
}

.dot:nth-child(2) {
  animation-delay: 0.04s;
}

.dot:nth-child(3) {
  animation-delay: 0.09s;
}

.dot:nth-child(4) {
  animation-delay: 0.16s;
}

.dot:nth-child(5) {
  animation-delay: 0.25s;
}

.dot:nth-child(6) {
  animation-delay: 0.36s;
}

.dot:nth-child(7) {
  animation-delay: 0.49s;
}

.dot:nth-child(8) {
  animation-delay: 0.64s;
}

.dot:nth-child(9) {
  animation-delay: 0.72s;
}

.dot:nth-child(10) {
  animation-delay: 0.8s;
}

.dot:nth-child(11) {
  animation-delay: 0.88s;
}

.one {
  color: #9356DC;
  text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.two {
  color: #9356DC;
  text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.three {
  color: #FF79DA;
  text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.four {
  color: #FF79DA;
  text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.five {
  color: #99E2D0;
  text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.six {
  color: #99E2D0;
  text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.seven {
  color: #99E2D0;
  text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.eight {
  color: #99E2D0;
  text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.nine {
  color: #9356DC;
  text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.ten {
  color: #FF79DA;
  text-shadow: 0 3px 10px rgb(100, 100, 100);
}

.eleven {
  color: #99E2D0;
  text-shadow: 0 3px 10px rgb(100, 100, 100);
}

@keyframes dot-animation {
  0% {
    margin-top: 0;
  }
  30% {
    margin-top: 0;
  }
  50% {
    margin-top: -50px;
  }
  80% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
/* Start Header */
header {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
}

h1 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  font-family: "Shrikhand", cursive;
}

.btn__backHome {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  justify-self: start;
}

/* Start Footer */
footer {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
  color: #000000;
  background: #353535;
  font-family: "Roboto", sans-serif;
}
footer h2 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  margin: 0 0 1.5rem 0;
  font-family: "Shrikhand", cursive;
  font-size: 1.4em;
  font-weight: normal;
  justify-self: start;
}
@media (min-width: 521px) {
  footer h2 {
    margin: 0 auto;
    padding-bottom: 1rem;
  }
}
footer ul {
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  justify-self: start;
}
@media (min-width: 981px) and (max-width: 2080px) {
  footer ul {
    display: flex;
    justify-content: space-around;
    gap: 15rem;
    margin: 0 auto;
  }
}
@media (min-width: 621px) and (max-width: 980px) {
  footer ul {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    margin: 0 auto;
  }
}
@media (min-width: 521px) and (max-width: 620px) {
  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    gap: 0;
    margin: 0 2rem 0 2rem;
  }
}
@media (max-width: 520px) {
  footer ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0;
  }
}
footer ul li {
  margin: 0 0 0.5rem 0;
}
footer a {
  color: #000000;
}
footer a .fa-utensils {
  padding: 0 1rem 0 0;
}
footer a .fa-hands-helping {
  padding: 0 0.55rem 0 0;
}

/* End Footer */
/* Start Main */
main {
  font-family: "Roboto", sans-serif;
  /* Start section  location */
  /* Start section  theRestaurants */
  /* Start section  restaurantMenu */
}
main .location {
  grid-template-columns: repeat(1, 1fr);
  padding: 1em;
  background: #eaeaea;
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, rgb(234, 234, 234) 100%);
}
main .location i {
  padding: 0 0.5em 0 0;
}
main .presentation {
  grid-template-columns: repeat(1, 1fr);
  padding: 2em 0 3em;
  background: #f6f6f6;
  text-align: center;
}
main .presentation h2 {
  padding: 0 5em;
}
main .presentation p {
  padding: 1em 5em 2em;
}
main .working {
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
}
main .working h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 2;
  justify-self: start;
}
main .working ol {
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin: 1em 1em 0;
  justify-self: normal;
  counter-reset: section;
}
@media (max-width: 960px) {
  main .working ol {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 680px) {
  main .working ol {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .working li::before {
  counter-increment: section;
  content: counter(section);
  position: relative;
  left: -1.9em;
  padding: 0.3em 0.6em;
  border-radius: 70%;
  background-color: #9356DC;
  color: #000000;
}
main .working li::before i {
  color: #9f9f9f;
}
main .working li:hover {
  background-color: #f2eafb;
}
main .working li:hover i {
  color: #9356DC;
}
main .working p {
  display: inline-block;
  position: relative;
  left: -0.7em;
}
main .working i {
  padding: 0 1em 0 0;
}
main .theRestaurants {
  grid-template-columns: repeat(1, 1fr);
  padding: 3em 1em;
  background: #f6f6f6;
}
main .theRestaurants h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 2;
  justify-self: start;
}
main .theRestaurants ul {
  grid-row: 2 / auto;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  justify-self: normal;
  margin: 1em 0;
}
@media (max-width: 960px) {
  main .theRestaurants ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 680px) {
  main .theRestaurants ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .theRestaurants ul li {
  display: inline-block;
  width: 100%;
}
main .theRestaurants ul li a {
  display: block;
  position: relative;
  padding: 0 0 0.7rem 0;
  color: #ffffff;
  border-radius: 1.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
main .theRestaurants ul li a .sticker {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 0.4em 0.6em;
  color: #008766;
  background: #99E2D0;
  border-radius: 0.2em;
}
main .theRestaurants ul li a img {
  padding: 0 0 0.5rem 0;
  width: 100%;
  height: 12.5em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0 0;
}
main .theRestaurants ul li a h3,
main .theRestaurants ul li a p {
  padding: 0 1rem 0.5rem;
}
main .theRestaurants ul li a .btn__like {
  position: absolute;
  bottom: 2.5rem;
  right: 1.5rem;
  font-size: 1.5em;
  cursor: pointer;
}
main .restaurantMenu {
  grid-template-columns: repeat(1, 1fr);
  padding: 0 0 3em;
  justify-items: normal;
  background: #f6f6f6;
}
main .restaurantMenu__cover {
  margin: 0 0 -5em 0;
  width: 100%;
  height: 20em;
  object-fit: cover;
}
main .restaurantMenu__menu {
  margin: 1em 0;
  padding: 1em;
  background: #f6f6f6;
  border-radius: 1.5em;
}
main .restaurantMenu__menu h2 {
  font-family: "Shrikhand", cursive;
  position: relative;
}
main .restaurantMenu__menu h2 button {
  position: absolute;
  bottom: 0.3rem;
  right: 1rem;
  font-size: 0.9em;
  cursor: pointer;
}
main .restaurantMenu__menu h3 {
  margin: 2em 0 0 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 5px solid #99E2D0;
  width: 2.5rem;
  font-weight: normal;
  text-transform: uppercase;
}
main .restaurantMenu__menu ul {
  grid-row: 3 / auto;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  margin: 1em 0 2.5em;
  justify-self: normal;
}
@media (max-width: 960px) {
  main .restaurantMenu__menu ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 680px) {
  main .restaurantMenu__menu ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .restaurantMenu__menu ul li {
  position: relative;
  padding: 1em;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.05em;
}
main .restaurantMenu__menu ul li h4 {
  padding-bottom: 0.5rem;
}
main .restaurantMenu__menu ul li p {
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
  overflow: hidden;
  transition: all 0.5s;
}
main .restaurantMenu__menu ul li strong {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  transition: all 0.5s;
  font-weight: 600;
}
main .restaurantMenu__menu ul li span {
  position: absolute;
  right: -5rem;
  top: 0rem;
  width: 5rem;
  height: 100%;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background: #99E2D0;
  transition: all 0.5s;
}
main .restaurantMenu__menu ul li span .fa-check-circle {
  transform: rotate(-240deg);
  transition: all 0.5s;
}
main .restaurantMenu__menu ul .list-item {
  animation: appear 1000ms forwards;
  opacity: 0;
}
main .restaurantMenu__menu ul .list-item--1 {
  animation-delay: 100ms;
}
main .restaurantMenu__menu ul .list-item--2 {
  animation-delay: 200ms;
}
main .restaurantMenu__menu ul .list-item--3 {
  animation-delay: 300ms;
}
main .restaurantMenu__menu ul .list-item--4 {
  animation-delay: 400ms;
}
main .restaurantMenu__menu ul .list-item--5 {
  animation-delay: 500ms;
}
main .restaurantMenu__menu ul .list-item--6 {
  animation-delay: 600ms;
}
main .restaurantMenu__menu ul .list-item--7 {
  animation-delay: 700ms;
}
main .restaurantMenu__menu ul .list-item--8 {
  animation-delay: 800ms;
}
main .restaurantMenu__menu ul .list-item--9 {
  animation-delay: 900ms;
}
@keyframes appear {
  0% {
    transform: translateY(2em);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
main .restaurantMenu__menu ul li:hover p {
  width: 57%;
}
main .restaurantMenu__menu ul li:hover strong {
  right: 6.5rem;
}
main .restaurantMenu__menu ul li:hover span {
  right: 0;
}
main .restaurantMenu__menu ul li:hover span .fa-check-circle {
  transform: rotate(0deg);
}
main .restaurantMenu .btn {
  text-align: center;
  margin: 0 auto;
  padding: 1rem 5rem;
  margin-bottom: 3rem;
}
